/* ***<<< desktop-brakepoint >>>*** */

@media(max-width: 1260px){

    .Hero-content-right .photo{
        width: 600px;
    }

    .Hero-content-left h4{
        font-family: 12px;
    }

    .Hero-content-left h2{
        font-size: 65px;
    }

    .Hero-content-left p{
        font-size: 16px;
    }
    
    .Hero-Tag{
        gap: 3rem;
    }

    .Hero-Tag-left img{
        width: 55px;
    }

    .Hero-Tag-left-content{
        line-height: 15px;
    }

    .Hero-Tag-left-content h4{
        font-size: 30px;
    }

    .Hero-Tag-left-content span{
        font-size: 14px;
    }

    .Hero-Tag-right img{
        width: 55px;
    }

    .Hero-Tag-right-content{
        line-height: 15px;
    }

    .Hero-Tag-right-content h4{
        font-size: 30px;
    }

    .Hero-Tag-right-content span{
        font-size: 14px;
    }

    .Collection-container{
        width: 90%;
        margin: auto;
        background: #B6fb44;
        border-radius: 25px;
        background-image: url(cricle-lines.png);
        background-position: 100% -17px;
        background-size: 330px auto;
        background-repeat: no-repeat;
        z-index: 1;
        position: relative;
      }

      .Collection-content{
        padding: 70px 90px 70px 50px;
      }
      

}

@media(max-width: 1150px){
    .Hero-content-right .photo{
        width: 560px;
    }

    .Hero-content-left h2{
        font-size: 50px;
    }

    .Hero-content-left p{
        font-size: 15px;
    }
    
    .Hero-Tag{
        gap: 2rem;
    }

    .Hero-Tag-left img{
        width: 50px;
    }

    .Hero-Tag-left-content{
        line-height: 12px;
    }

    .Hero-Tag-left-content h4{
        font-size: 25px;
    }

    .Hero-Tag-left-content span{
        font-size: 13px;
    }

    .Hero-Tag-right img{
        width: 50px;
    }

    .Hero-Tag-right-content{
        line-height: 15px;
    }

    .Hero-Tag-right-content h4{
        font-size: 25px;
    }

    .Hero-Tag-right-content span{
        font-size: 13px;
    }

    .Scroller__inner .All__same__1{
        width: 180px;
        padding-left: 4rem;
    }

    .Scroller__inner .All__same__2{
        width: 180px;
        padding-left: 4rem;
    }

    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 2rem));
        }
    }


    .About-content-right{
        margin: 0 0 0 40px;
    }

    .About-content-right-content h4{
        font-size: 13px;
    }

    .About-content-right-content p{
        font-size: 15px;
    }

    .About-content-right-content button{
        padding: 10px 25px;
        font-size: 14px;
    }


    /* ---Games--- */

    .Games-content-left{
        margin: 0 50px 0 0;
    }

    .Games-content-left-content h2{
        font-size: 40px;
    }

    .Games-content-left-content p{
        font-size: 16px;
    }

}

/* ***<<< Tablet >>>*** */

@media (max-width:1024px) and (min-width:600px){
    
    nav{
        justify-content: center;
    }

    .menu-area{
        display: none;
    }

    .Hero-container{
        padding-top: 100px;
    }
 
    .Hero-content{
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }


    .Hero-content-left{
        text-align: center;
        margin-bottom: 50px;
    }

    .Hero-content-right{
        display: flex;
        justify-content: center;
        position: relative;
    }

    .cricle{
        display: flex;
        justify-content: center;
    }

    .cricle img{
        right: 250px;
        top: 20px;
        display: flex;
        justify-content: center;
    }

    .bg-line img{
        width: 65%;
    }

    .Hero-content-left h4{
        font-size: 16px;
    }

    .Hero-content-left h2{
        font-size: 62px;
        padding: 0 40px; 
        padding-bottom: 25px;
    }
    
    .Hero-content-left p{
        font-size: 19px;
        padding: 0 100px;
        padding-bottom: 25px;
    }

    .Hero-content-left button{
        padding: 15px 30px;
    }

    .Hero-Tag{
        justify-content: center;
        gap: 5rem;
    }

    .Hero-Tag-left{
        gap: 1rem;
    }

    .Hero-Tag-left img{
        width: 65px;
    }

    .Hero-Tag-left-content h4{
        font-size: 40px;
    }

    .Hero-Tag-right{
        gap: 1rem;
    }

    .Hero-Tag-right img{
        width: 65px;
    }

    .Hero-Tag-right-content h4{
        font-size: 40px;
    }

    .Scroller__container{
        width: 100%;
    }

    .Scroller__inner .All__same__1{
        width: 160px;
        padding-left: 3rem;
    }

    .Scroller__inner .All__same__2{
        width: 160px;
        padding-left: 3rem;
    }

    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 2rem));
        }
    }






    .About-content{
        flex-direction: column;
        align-items: center;
    }

    .About-content-left{
        width: 55%;
        margin: auto;
    }

    .About-content-right{
        padding: 50px 10px 0 10px;
        margin: 0;
    }
    

    .About-content-right-content{
        text-align: center;
    }

    .About-content-right-content h4{
        font-size: 13px;
        letter-spacing: 2.5px;
    }

    .About-content-right-content p{
        font-size: 18px;
        padding: 0 50px 20px 50px ;
    }

    .About-content-right-content button{
        padding: 12px 28px;
        font-size: 16px;
    }



    .Games-container{
        padding-top: 60px;
    }

    .Games-content {
        flex-direction: column-reverse;
        align-items: center;
    }


    .Games-content-right{
        width: 60%;
        margin: auto;
    }

    .Games-content-left{
        padding: 50px 10px 0 10px;
        margin: 0;
    }
    
    .Games-content-left-content{
        text-align: center;
    }

    .Games-content-left-conten h2{
        padding: 0 50px 20px 50px ;
    }

    .Games-content-left-content p{
        font-size: 18px;
        padding: 0 50px 20px 50px ;
    }

    .Games-content-left-content .Discover-more{
        /* justify-content: center */
        margin: auto;
    }

    .Games-content-right-content .Game_icon{
        position: absolute;
        top: -60px;
        right: -20px;
        width: 180px;
      }

      .Games-content-right-content .Text_star{
        position: absolute;
        top: -40px;
        left: -80px;
        width: 80px;
      }

    .Games-content-right-content .vew_img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        z-index: 2;
        bottom: 4px;
        position: relative;
    }

    .Collection-container{
        background-position: 100% bottom;
        background-size: 140px auto;
      }

    .Collection-content{
        display: flex;
        /* justify-content: right; */
        padding: 50px 0px 50px 20px;
        align-items: normal;
        flex-direction: column;
    }

    .Collection-content-left{
        width: 90%;
        padding-bottom: 20px;
    }

    .Collection-content-left h2{
        font-size: 38px;
    }

    .Collection-content-right{
        text-align: left;
        width: 100%;
    }

    .Collection-content-right button{
        font-size: 18px;
        padding: 15px 30px;
    }
}

/* ***<<< Mobile >>>*** */

@media (max-width:599px) {

    nav{
        justify-content: center;
    }

    .menu-area{
        display: none;
    }

    .Hero-container{
        padding-top: 60px;
    }
 
    .Hero-content{
        /* flex-wrap: wrap; */
        flex-direction: column;
        justify-content: center;
        padding-left: 0;
    }


    .Hero-content-left{
        text-align: center;
        margin-bottom: 30px;
    }

    .Hero-content-right{
        display: flex;
        justify-content: center;
        position: relative;
    }

    .Hero-content-right .photo{
        width: 450px;
    }

    .cricle{
        display: flex;
        justify-content: center;
    }

    .cricle img{
        width: 90px;
        right: 130px;
        top: -60px;
        display: flex;
        justify-content: center;
    }

    .bg-line img{
        /* display: none; */
        /* width: 450px; */
        width: 65%;
    }

    .Hero-content-left h4{
        font-size: 17px;
        letter-spacing: 3px;
    }

    .Hero-content-left h2{
        font-size: 50px;
        padding: 0 20px;
        padding-bottom: 20px;
    }
    
    .Hero-content-left p{
        padding: 0 80px;
        font-size: 18px;
        padding-bottom: 25px;
    }

    .Hero-content-left button{
        padding: 15px 30px;
        margin-bottom: 40px;
    }

    .Hero-Tag{
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }

    .Hero-Tag-left{
        flex-direction: column;
        gap: 1.5rem;
    }

    .Hero-Tag-left img{
        width: 62px;
    }

    .Hero-Tag-left-content{
        line-height: 20px;
    }

    .Hero-Tag-left-content h4{
        font-size: 40px;
    }

    .Hero-Tag-left-content span{
        font-size: 15px;
    }

    .Hero-Tag-right{
        flex-direction: column;
        gap: 1.5rem;
    }

    .Hero-Tag-right img{
        width: 62px;
    }

    .Hero-Tag-right-content{
        line-height: 20px;
    }

    .Hero-Tag-right-content h4{
        font-size: 40px;
    }

    .Hero-Tag-right-content span{
        font-size: 15px;
    }

    .Scroller__container{
        width: 100%;
    }

    .Scroller__inner .All__same__1{
        width: 150px;
        padding-left: 3rem;
    }

    .Scroller__inner .All__same__2{
        width: 150px;
        padding-left: 3rem;
    }

    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 1.5rem));
        }
    }

    .About-content{
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .About-content-left{
        margin: auto;
        width: 65%;
    }

    .About-content-right{
        padding-top: 40px;
        width: 100%;
        margin: 0;
    }

    .About-content-right-content{
        text-align: center;
    }

    .About-content-right-content h2{
        font-size: 35px;
    }

    .About-content-right-content p{
        font-size: 15px;
        padding: 0 0px 20px 0px;
    }

    .About-content-right-content img{
        width: 40px;
    }







    .Games-content {
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 100px;
    }


    .Games-content-right{
        width: 65%;
        margin: auto;
    }

    .Games-content-left{
        width: 100%;
        padding: 40px 10px 0 10px;
        margin: 0;
    }
    
    .Games-content-left-content{
        text-align: center;
    }

    .Games-content-left-content h4{
        font-size: 13px;
    }

    .Games-content-left-content h2{
        font-size: 35px;
        padding: 0 0 20px 0 ;
    }

    .Games-content-left-content p{
        font-size: 15px;
        padding: 0 0px 20px 0px;
    }

    .Games-content-left-content .Discover-more{
        /* justify-content: center */
        margin: auto;
    }

    .Games-content-right-content .Game_icon{
        position: absolute;
        top: -40px;
        right: -10px;
        width: 150px;
      }

      .Games-content-right-content .Text_star{
        position: absolute;
        top: -40px;
        left: -80px;
        width: 70px;
      }

    .Games-content-right-content .vew_img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        z-index: 2;
        bottom: 4px;
        position: relative;
    }

    .Collection-container{
        background-position: 100% bottom;
        background-size: 100px auto;
      }

    .Collection-content{
        display: flex;
        /* justify-content: right; */
        padding: 50px 0px 20px 20px;
        align-items: normal;
        flex-direction: column;
    }

    .Collection-content-left{
        width: 90%;
        padding-bottom: 20px;
    }

    .Collection-content-left h2{
        font-size: 32px;
    }

    .Collection-content-left p{
        font-size: 18px;
    }

    .Collection-content-right{
        text-align: left;
        width: 100%;
    }

    .Collection-content-right button{
        font-size: 18px;
        padding: 15px 30px;
    }
    


}


/* ***<<< Mobile-brakepoints >>>*** */

@media (max-width:470px) {

    .Hero-content-left h4{
        font-size: 15px;
    }

    .Hero-content-left h2{
        font-size: 42px;
    }

    .Hero-content-left p{
        font-size: 14px;
    }

    .Hero-content-left button{
        padding: 10px 20px;
        font-size: 15px;
    }

    .Hero-Tag-left img{
        width: 50px;
    }

    .Hero-Tag-left-content{
        line-height: 15px;
    }

    .Hero-Tag-left-content h4{
        font-size: 30px;
    }

    .Hero-Tag-left-content span{
        font-size: 12px;
    }

    .Hero-Tag-right img{
        width: 50px;
    }

    .Hero-Tag-right-content{
        line-height: 15px;
    }

    .Hero-Tag-right-content h4{
        font-size: 30px;
    }

    .Hero-Tag-right-content span{
        font-size: 12px;
    }
    

    .cricle img{
        top: -80px;
        right: 80px;
        width: 85px;
    }

    .Hero-content-right .photo{
        width: 400px;
    }

    .Scroller__container{
        max-width: 90%;
    }

    .Scroller__inner{
        padding-bottom: 15px;
    }

    .Scroller__inner .All__same__1{
        width: 130px;
        padding-left: 3rem;
    }

    .Scroller__inner .All__same__2{
        width: 130px;
        padding-left: 3rem;
    }

    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 1.5rem));
        }
    }

    .About-content{
        flex-direction: column;
        align-items: center;
    }

    .About-content-left{
        margin: auto;
        width: 65%;
    }

    .About-content-right{
        padding-top: 40px;
        width: 100%;
        margin: 0;
    }

    .About-content-right-content{
        text-align: center;
    }

    .About-content-right-content h2{
        font-size: 35px;
    }

    .About-content-right-content p{
        font-size: 14px;
        padding: 0 0px 20px 0px;
    }

    .About-content-right-content button{
        padding: 10px 25px;
    }


    .Games-content-right{
        width: 70%;
        margin: auto;
    }

    .Games-content-left-content h4{
        font-size: 12px;
    }

    .Games-content-left-content h2{
        font-size: 35px;
        padding: 0 0 20px 0 ;
    }

    .Games-content-left-content p{
        font-size: 14px;
        padding: 0 0px 20px 0px;
    }

    .Games-content-left-content .Discover-more{
        /* justify-content: center */
        margin: auto;
    }

    .Games-content-right-content .Game_icon{
        position: absolute;
        top: -40px;
        right: 0px;
        width: 130px;
      }

      .Games-content-right-content .Text_star{
        position: absolute;
        top: -40px;
        left: -80px;
        width: 70px;
      }

    .Games-content-right-content .vew_img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        z-index: 2;
        bottom: 4px;
        position: relative;
    }

    .Collection-container{
        background-position: 100% bottom;
        background-size: 100px auto;
      }

    .Collection-content{
        display: flex;
        /* justify-content: right; */
        padding: 50px 10px 20px 20px;
        align-items: normal;
        flex-direction: column;
    }

    .Collection-content-left{
        width: 100%;
        padding-bottom: 20px;
    }

    .Collection-content-left h2{
        font-size: 30px;
    }

    .Collection-content-left p{
        font-size: 18px;
        line-height: 1.5;
        font-weight: 400;
    }

    .Collection-content-right{
        text-align: left;
        width: 100%;
    }

    .Collection-content-right button{
        font-size: 16px;
        padding: 14px 30px;
    }
}

@media (max-width:400px) {

    .Hero-content-left h4{
        font-size: 14px;
    }

    .Hero-content-left h2{
        font-size: 40px;
    }

    .Hero-content-left p{
        font-size: 15px;
        padding: 0 30px;
        padding-bottom: 25px;
    }

    .Hero-content-left button{
        padding: 12px 25px;
        font-size: 15px;
    }

    .Hero-Tag-left img{
        width: 55px;
    }

    .Hero-Tag-left-content{
        line-height: 15px;
    }

    .Hero-Tag-left-content h4{
        font-size: 35px;
    }

    .Hero-Tag-left-content span{
        font-size: 15px;
    }

    .Hero-Tag-right img{
        width: 55px;
    }

    .Hero-Tag-right-content{
        line-height: 15px;
    }

    .Hero-Tag-right-content h4{
        font-size: 35px;
    }

    .Hero-Tag-right-content span{
        font-size: 15px;
    }
    

    .cricle img{
        top: -70px;
        right: 80px;
        width: 85px;
    }

    .bg-line img{
        width: 80%;
        top: 200px;
    }

    .Hero-content-right .photo{
        width: 320px;
    }

    .Scroller__container{
        max-width: 90%;
    }
    
    .Scroller__inner{
        padding-block: 18px;
    }

    .Scroller__inner .All__same__1{
        width: 135px;
        padding-left: 3rem;
    }

    .Scroller__inner .All__same__2{
        width: 135px;
        padding-left: 3rem;
    }

    @keyframes scroll {
        to {
            transform: translate(calc(-50% - 1.5rem));
        }
    }

    .About-content{
        flex-direction: column;
        align-items: center;
    }

    .About-content-left{
        margin: auto;
        width: 64%;
    }

    .About-content-right{
        padding-top: 40px;
        width: 100%;
        margin: 0;
    }

    .About-content-right-content{
        text-align: center;
    }

    .About-content-right-content h2{
        font-size: 33px;
    }

    .About-content-right-content p{
        padding: 0 0 20px 0;
        font-size: 13px;
    }

    .About-content-right-content button{
        font-size: 12px;
    }

    .Games-content-right{
        width: 70%;
        margin: auto;
    }

    .Games-content-left-content h4{
        font-size: 11px;
    }

    .Games-content-left-content h2{
        font-size: 30px;
        padding: 0 0 20px 0 ;
    }

    .Games-content-left-content p{
        font-size: 13px;
        padding: 0 0px 20px 0px;
    }

    .Games-content-left-content .Discover-more{
        /* justify-content: center */
        margin: auto;
    }

    .Games-content-left-content .Discover-more h4{
        font-size: 14px;
    }

    .Games-content-right-content .Game_icon{
        position: absolute;
        top: -40px;
        right: -10px;
        width: 120px;
      }

      .Games-content-right-content .Text_star{
        position: absolute;
        top: -40px;
        left: -50px;
        width: 50px;
      }

    .Games-content-right-content .vew_img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        z-index: 2;
        bottom: 4px;
        position: relative;
    }
}