* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
span::selection,
span::selection {
  background-color: #5F5769;
}

img::selection {
  background-color: #3d5161;
}

.Home {
  background: #020710;
  background-image: url(bg.png);
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

header {
  width: 100%;
  transition: background-color 0.3s ease;
}

.Header-conatiner {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

header.scroll {
  background: rgba(0, 0, 0, 0.72);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: +9999999;
  transition: background-color 0.2s ease-in-out;
}

.scroll .Header-conatiner {
  padding: 10px;
}

.logo h2 {
  font-family: inter;
  font-size: 28px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2.5rem;
}

nav ul li a {
  font-family: inter;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

nav ul li a:hover {
  color: #31ab84;
}

menu {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.button button {
  padding: 8px 25px;
  background: none;
  border: 0.8px solid white;
  border-radius: 40px;
  color: white;
  font-family: inter;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button button:hover {
  background: white;
  color: black;
}

.Hero-container {
  padding-top: 120px;
  /* margin-bottom: 20px; */
  border-bottom: 2px solid #373d44;
}

.Hero-content {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  gap: 2rem;
}

.Hero-content-right {
  /* width: 48%; */
  position: relative;
}

.Hero-content-right .photo {
  /* max-width: 100%; */
  width: 650px;
  /* height: auto; */
  position: relative;
  z-index: 2;
  display: block;
}

.Hero-content-left h4 {
  font-family: inter;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #89ff00;
  padding-bottom: 20px;
}

.Hero-content-left h2 {
  color: white;
  font-family: 'Space Mono', monospace;
  font-size: 74px;
  font-weight: 800;
  line-height: 1.2;
  padding-bottom: 22px;
}

.Hero-content-left p {
  color: #989da0;
  font-family: inter;
  font-size: 18px;
  line-height: 1.6;
  padding-right: 70px;
  padding-bottom: 35px;
}

.Hero-content-left button {
  padding: 15px 25px;
  background: #89ff00;
  border-radius: 50px;
  font-family: inter;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  margin-bottom: 70px;
  transition: 0.3s ease-in-out;
}

.Hero-content-left button:hover {
  background: white;
  color: black;
}

.Hero-Tag {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.Hero-Tag-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Hero-Tag-left img {
  width: 65px;
}

.Hero-Tag-left-content {
  display: flex;
  flex-direction: column;
  line-height: 22px;
}

.Hero-Tag-left-content h4 {
  font-family: space Mono;
  font-size: 40px;
  color: white;
}

.Hero-Tag-left-content span {
  color: #989da0;
  text-transform: uppercase;
  font-family: inter;
  font-weight: 600;
  font-size: 14px;
}

.Hero-Tag-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.Hero-Tag-right img {
  width: 65px;
}

.Hero-Tag-right-content {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}

.Hero-Tag-right-content h4 {
  font-family: space Mono;
  font-size: 40px;
  color: white;
}

.Hero-Tag-right-content span {
  color: #989da0;
  text-transform: uppercase;
  font-family: inter;
  font-weight: 600;
  font-size: 14px;
  /* letter-spacing: 1px; */
}

.bg-line img {
  display: block;
  position: absolute;
  top: 280px;
  right: -50px;
  width: 450px;
  z-index: 1;
}

.cricle img {
  position: absolute;
  top: -70px;
  right: 80px;
  width: 100px;
  transform: translate(50%, 50%);
  animation: animate 8.5s infinite linear;
}

@keyframes animate {
  0% {
    transform: translate(50%, 50%) rotate(0deg);
  }

  90% {
    transform: translate(50%, 50%) rotate(360deg);
  }
}

.Scroller {
  width: 100%;
  background: #020710;
}

.Scroller__container {
  max-width: 86%;
  margin-left: auto;
  margin-right: auto;
}

.Scroller__inner {
  border: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px;
  flex-wrap: wrap;
  /* gap: 5rem; */
}

.Scroller__inner .All__same__1 {
  padding-left: 5rem;
  width: 220px;
  opacity: 0.8;
}

.Scroller__inner .All__same__2 {
  padding-left: 5rem;
  width: 200px;
  opacity: 0.8;
}

.Scroller__container[data-animated='true'] {
  overflow: hidden;
}

.Scroller__container[data-animated='true'] .Scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 2.5rem));
  }
}

/* ----about---- */

.About {
  width: 100%;
  background: #020710;
}

.About-container {
  width: 86%;
  margin: auto;
}

.About-content {
  display: flex;
  padding-top: 80px;
  position: relative;
}

.About-content-left {
  /* width: 50%; */
  flex: 1;
  display: flex;
  position: relative;
}

.About-content-overlay {
  background: url(bacilnes.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* width: 50%; */
}

.About-content-left-content img {
  width: 100%;
  height: auto;
  z-index: 2;
  position: relative;
  /* top: 5px; */
  bottom: -5px;
}

.About-content-right {
  /* width: 50%; */
  flex: 1;
  padding: 160px 10px 0 10px;
  margin: 0 0 0 70px;
}

.About-content-right-content img {
  position: absolute;
  width: 60px;
  top: 50px;
  right: 0;
}

.About-content-right-content h4 {
  font-family: inter;
  font-size: 15px;
  color: #89ff00;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.About-content-right-content h2 {
  font-family: space mono;
  font-size: 50px;
  line-height: 1.1;
  letter-spacing: -1px;
  color: white;
  padding-bottom: 20px;
}

.About-content-right-content p {
  font-family: inter;
  font-size: 20px;
  line-height: 1.9;
  color: #a4a9ac;
  padding-bottom: 30px;
}

.About-content-right-content button {
  padding: 15px 28px;
  border-radius: 50px;
  border: none;
  font-family: inter;
  font-weight: 600;
  font-size: 18px;
  background: #89ff00;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.About-content-right-content button:hover {
  background: white;
}

/* ---Games--- */

.Games {
  width: 100%;
  background: #020710;
}

.Games-container {
  width: 86%;
  margin: auto;
  padding-bottom: 100px;
}

.Games-content {
  display: flex;
  padding-top: 80px;
  position: relative;
}

.Games-content-left {
  flex: 1;
  display: flex;
  position: relative;
  padding: 140px 10px 0 10px;
  margin: 0 70px 0 0;
}


.Games-content-left-content h4 {
  font-family: inter;
  font-size: 15px;
  color: #89FF00;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding-bottom: 10px;
}

.Games-content-left-content h2 {
  font-family: space mono;
  font-size: 45px;
  line-height: 1.1;
  letter-spacing: -1px;
  color: white;
  padding-bottom: 20px;
}

.Games-content-left-content p {
  font-family: inter;
  font-size: 18px;
  line-height: 1.8;
  color: #A4A9AC;
  padding-bottom: 30px
}

.Games-content-left-content .Discover-more {
  display: flex;
  color: #89FF00;
  cursor: pointer;
  gap: 3px;
  position: relative;
  width: max-content;
  transition: 0.2s ease-in-out;
}

.Games-content-left-content .Discover-more h4 {
  text-transform: none;
  font-size: 16px;
}

.Games-content-left-content .Discover-more::after {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 120px;
  height: 2px;
  background: currentColor;
  transform: scaleX(0.7);
  transform-origin: left;
  transition: 0.2s ease-in-out;
}

.Games-content-left-content .Discover-more:hover:after {
  transform: scaleX(1);
}

.Games-content-left-content .Discover-more h4 {
  padding-bottom: 0;
}

.Games-content-right {
  flex: 1.1;
  display: flex;
  position: relative;
}

.Games-contetnt-overlay {
  background: url(Am_bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  right: 0;
  bottom: 4px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.Games-content-right-content img {
  width: 100%;
  z-index: 2;
  position: relative;
}

.Games-content-right-content .Game_icon {
  position: absolute;
  top: -50px;
  right: 0;
  width: 230px;
  transform: rotate(30deg);
}

.Games-content-right-content .Text_star {
  position: absolute;
  left: -80px;
  width: 100px;
  transform: translate(50%, 50%);
  animation: animate 8.5s infinite linear;
}

@keyframes animate {
  0% {
    transform: translate(50%, 50%) rotate(0deg);
  }

  90% {
    transform: translate(50%, 50%) rotate(360deg);
  }
}

/* ---collection--- */

.Collection {
  width: 100%;
  background: #020710;
}

.Collection-container {
  width: 88%;
  margin: auto;
  background: #B6fb44;
  border-radius: 25px;
  background-image: url(cricle-lines.png);
  background-position: 100% -17px;
  background-size: 330px auto;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}

.Collection-content {
  display: flex;
  align-items: center;
  padding: 70px 90px 70px 90px;
}

.Collection-content-left {
  width: 75%;
}

.Collection-content-left h2 {
  font-size: 42px;
  font-family: space Grotesk;
  padding-bottom: 20px;
  cursor: text;
}

.Collection-content-left h2 a {
  position: relative;
  color: black;
  text-decoration: none;
}

.Collection-content-left h2 a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 7px;
  bottom: 8px;
  z-index: -1;
  background-color: white;
  transition: 0.2s ease-in-out;
}

.Collection-content-left h2 a:hover::after {
  height: 35px;
}

.Collection-content-left p {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.Collection-content-right {
  width: 23%;
  text-align: right;
  z-index: +1;
}

.Collection-content-right button {
  text-align: right;
  padding: 15px 25px;
  background: #020710;
  color: #B6fb44;
  font-family: space Grotesk;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.Collection-content-right button:hover {
  background: white;
  color: black;
}

/* ---Swiper--- */

.Swiper-slider {
  width: 100%;
  background: #020710;
}

.swiper-slide-container {
  width: 87%;
  margin: auto;
  padding-top: 150px;

}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide-content {
  display: flex;
  align-items: center;
}

.swiper-slide-content-left {
  width: 50%;
}

.swiper-slide-content-left h3 {
  font-family: inter;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  color: #89FF00;
  padding-bottom: 5px;
  letter-spacing: 1.2px;
}

.swiper-slide-content-left h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: white;
}

.swiper-slide-content-right {
  width: 50%;
  position: relative;
}

.swiper-slide-stars {
  padding-bottom: 50px;
}

.swiper-slide-stars i {
  color: yellow;
  padding: 0 2px;
  font-size: 20px;
}

.swiper-slide p {
  font-size: 22px;
  font-family: space Grotesk;
  color: #848296;
  line-height: 1.5;
  padding-bottom: 20px;
}

.swiper-slide-detal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-slide-detal-name h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.swiper-slide-detal-name p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.swiper-slide-detal-image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50px;
}

/* ---FAQ--- */

.Faq {
  width: 100%;
  background-color: #020710;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 50px;
}

.Faq-container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.Faq-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  align-content: flex-start;
}

.Faq-content-top {
  width: 100%;
  padding-bottom: 60px;
}

.Faq-content-top-text {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.Faq-content-top-text-content {
  padding: 0 20px;
}

.Faq-content-top-text h4 {
  color: white;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Inter', sans-serif;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.Faq-content-top-text span {
  color: #00ff00;
}

.Faq-content-top-text h3 {
  color: white;
  font-size: 45px;
  font-family: 'Space grotesk', monospace;
  padding-bottom: 10px;
  line-height: 1.3;
}

.Faq-content-top-text p {
  color: #8C9194;
  font-family: inter;
  font-size: 18px;
  line-height: 1.7;
}

.Faq-content-bottom {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.Faq-content-bottom-faqs {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 2.5rem;
}

.tab {
  border-bottom: 1px solid #ABABB554;
  cursor: pointer;
  /* padding-bottom: 10px; */
  padding: 0px 5px 10px 10px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 10px; */
}

.question h3 {
  font-family: 'Space Grotesk', sans-serif;
  color: white;
  font-size: 22px;
}

.question i {
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.icon {
  /* margin-right: 15px; */
  transition: transform 0.2s;
}

.icon.active {
  transform: rotate(-180deg);
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.answer.active {
  max-height: auto;
}

.answer p {
  color: #82858B;
  font-family: inter;
  padding: 20px 0 10px 0;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 1.5;
}

/* ///   Contact   /// */

.Contact {
  width: 100%;
  background: #020710;
  color: white;
}

.Contact-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
}

.Contact-icon .ball_1 {
  position: absolute;
  width: 50px;
  top: 35%;
  left: 0;
  animation-name: move;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes move {
  0% {
    left: 0%;
    top: 30%;
  }


  100% {
    left: 3%;
    top: 37%;
  }
}

.Contact-icon .ball_2 {
  width: 48px;
  position: absolute;
  top: 52%;
  left: 8%;
}

.Contact-icon .ball_3 {
  position: absolute;
  width: 35px;
  top: 75%;
  left: 10%;
  animation-name: anima;
  animation-duration: 3.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes anima {
  0% {
    top: 70%;
    left: 5%;
  }


  100% {
    top: 75%;
    left: 8%;
  }
}

.Contact-icon .ball_5 {
  position: absolute;
  width: 35px;
  top: 78%;
  left: 20%;
  animation-name: animation;
  animation-duration: 4.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes animation {
  0% {
    top: 78%;
  left: 20%;
  }


  100% {
    top: 80%;
    left: 22%;
  }
}

.Contact-icon .ball2_1{
  width: 38px;
  position: absolute;
  top: 25%;
  right: 15%;
}

.Contact-icon .ball2_2{
  width: 50px;
  position: absolute;
  top: 45%;
  right: 5%;
  animation-name: rightanimation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes rightanimation {
  0% {
    top: 45%;
    right: 3%;
  }


  100% {
    top: 47%;
    right: 1%;
  }
}

.Contact-icon .ball2_3{
  width: 50px;
  position: absolute;
  top: 80%;
  right: 12%;
}

.Contact-icon .ball2_4{
  width: 30px;
  position: absolute;
  top: 70%;
  right: 0%;
}

.Contact-text {
  width: 100%;
}

.Contact-text-content {
  width: 560px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Contact-text-content h3 {
  color: #00ff00;
  font-family: inter;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.3px;
  padding-bottom: 10px;
}

.Contact-text-content h2 {
  font-family: raleway;
  font-size: 43px;
  line-height: 1.3;
  font-weight: 600;
  padding-bottom: 40px;
}

.Contact-text-content button {
  padding: 16px 55px;
  background: none;
  color: white;
  font-family: raleway;
  font-size: 20px;
  font-weight: 600;
  border-radius: 30px;
  border: 1px solid #818A9E;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.Contact-text-content button:hover {
  background: #00e204;
  border: 1px solid #00e204;
}

/* Footer */

.Footer {
  width: 100%;
  background: url(footer_bg.png);
  background-position: center;
  background-size: cover;
}

.Footer-container{
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 25px;
}

.Footer-content-top{
  display: flex;
  justify-content: space-between;
  color: white;
  margin-bottom: 80px;
}

.Footer-content-first-text{
  max-width: 450px;
  letter-spacing: 1.1;
  line-height: 1.3;
  padding: 0 20px;
}

.Footer-content-first-text h2{
  color: white;
  font-family: inter;
  font-size: 30px;
  padding-bottom: 15px;
}

.Footer-content-first-text p{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.Footer-content-second-text {
  max-width: 450px;
  position: relative;
  padding: 0 20px;
}

.Footer-content-second-text h3{
  font-size: 16px;
  font-family: inter;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.Footer-content-second-text h3::before {
  content: '';
  background: #00e204;  
  display: inline-block;
  width: 3px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  z-index: +9999999999;
}

.Footer-content-second-text p{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.5;
}

.Footer-content-Third-text {
  max-width: 450px;
  position: relative;
  padding: 0 20px;
}

.Footer-content-Third-text h3 {
  font-size: 16px;
  font-family: inter;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.Footer-content-Third-text h3::before {
  content: '';
  background: #00e204;  
  display: inline-block;
  width: 3px;
  height: 20px;
  margin-right: 10px;
  vertical-align: middle;
  z-index: +9999999999;
}

.input-box{
  display: flex;
  background: #1C222B;
  width: 100%;
  border-radius: 30px;
  margin-bottom: 20px;
}

.input-box input{
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  flex: 1;
  padding: 0 20px;
  width: 100%;
}

.input-box input::placeholder{
  color: #959FB0;
  font-size: 15px;
}

.input-box button{
  padding: 20px 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #36BB91;
  font-size: 16px;
  color: white;
}

.Footer-content-Third-text p{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 15px;
}

.Footer-content-bottom{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid #8c919442;
}

.Footer-content-bottom-left p{
  color: #7F8698;
  font-family: inter;
  font-size: 13px;
}

.Footer-content-bottom-right ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.Footer-content-bottom-right ul li a{
  text-decoration: none;
  font-family: inter;
  color: white;
  font-size: 13px;
}